@media screen and (max-width: 830px) {
  html {
    font-size: 75%;
  }
  .topbar {
    min-height: 80px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 18vh;
  }
  .middle-section {
    height: auto;
  }
  .buttons {
    width: 100vw;
    min-width: 300px;
    justify-content: space-around;
  }
  #top-icon {
    top: 11vh;
    left: -80px;
  }
  #logo-name {
    left: 0px;
  }
  #project-list {
    top: 120px;
    height: 72%;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  /*---------------------Home----------------------*/
  .about-me {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
  }
  #home-heading {
    font-size: 2.4rem;
  }
  .normalText {
    font-size: 1.4rem;
    text-align: center;
  }
  #homeMid {
    flex-direction: column;
  }
}
